.Footer-container {
  background-color: #5D4037;
  height: 70%;
  margin: 60px 0px 0px 0px;
}

/* footer css */
.logo-footer{
  padding: 30px 0px 0px 50px;
}
.logo-footer h2 {
  /* font-family: 'Pencerio', cursive; */
  color: #FFF8E1;
  font-weight: bold;
  font-size: 1.6rem;
}

.logo-footer p{
  color: #FFF8E1 ;
  font-size: 1.2rem;
}

.footer-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-subscription{
  padding: 30px 100px 0px 0px;
  color: #FFF8E1 ;
}

.form-subscription form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}
.form-subscription input{
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  border-bottom: 1px solid  #FFF8E1 ;
  outline: none;
  background: transparent;
  transition: border-color 0.6s ease;
  transform: background 0.6s ease, color 0.4s ease;
}

.form-subscription input:focus{
   border-bottom-color: #000;
   background:  #FFF8E1;
   color: #000;
}
.form-subscription button{
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.footer-links{
  padding: 30px 50px 0px 0px;
  color: #FFF8E1;
}

.footer-links h1{
  font-size: 1.6rem;
  font-weight: bold;
}

.footer-last-words{
  color: #FFF8E1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}