@import "tailwindcss";

  @theme {
      --color-my-custom-warm: #FFF8E1 ; 
      --color-my-custom-orange-light:  #D84315 ;
      --color-my-custom-blue-dark: #21618c;
    }

h1, h2, .heading-text {
  font-family: 'Clash Display', sans-serif;
}

h3, h4, h5, h6, p, a, li,span, div {
  font-family: 'Boska', serif;
}

.logo{
  font-family: 'Pencerio', cursive;
  color: #FFF8E1;
  font-weight: bold;
}
.span-logo{
  color : #D84315;
  font-family: 'Pencerio', cursive;
  font-weight: bold;
}

 body, html {
  background-color: #FAFAFA ;
 
}
* {
   margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DEFAULT SCROLL */

/* width of scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* track/background */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* draggable thumb */
::-webkit-scrollbar-thumb {
  background-color:   #038363 ; 
  border-radius: 6px; 
  border: 3px solid #f1f1f1; 
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}
