.home-video{
  width: 100%;
  /* height: auto; */
  object-fit: cover;
}
.salesImage_container img{
  width: 400px;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
  gap: 20px;
  border-radius: 5px;
}
.salesImage_container h2 {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 20px 0px 10px;
}

/* Testimonials section styling */
.testimonials-heading {
  font-size: 4.3rem;
  font-weight: 500;
  text-align: center;
  margin: 40px 0;
}

.testimonials-container{
  display: flex;
  justify-content: center;
  height: auto;
}

.testimonials-card {
  width: 350px;
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color:  #D84315; 
}
.testimonials-card img {
  width: 25%;
  max-width: 100%;
  height: 25%;
  max-height: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.testimonials-card h2 {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 400px;
  color: #202020;
}

.testimonials-card p {
  font-size: 1rem;
  text-align: center;
  padding: 0px 10px;
  font-weight: 400px;
}
