.navbar-background {
  background: rgba(255, 255, 255, 0.35); 
  backdrop-filter: blur(15px);  
  -webkit-backdrop-filter: blur(15px);/* safari support */
  padding: 10px;
  border-radius: 25px;
  border: 2px solid rgba(255, 247, 9, 0.15);
}

.dropdown-background{
   backdrop-filter: blur(15px);  
  border-radius: 25px;
  border: 1px solid rgba(243, 242, 242, 0.15);
}

@media screen and (max-width :480px) {
  .navbar-background {
  padding: 3px;
}

}